@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    Color: #a09038;
    font-family: 'Poppins', sans-serif;
    
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   /* border-bottom: 1px solid white;*/
   /*box-shadow: 1px 1px 10px 1px white;*/
   border-bottom: 15px ridge #a09038 ;
   margin-bottom: 45px;

}

header ul {
    display: flex;

}

header ul li {
    padding: 10px;
}

header ul li a:hover {
    color: #a09038 ;
    text-decoration: underline;

}
header ul li a {
    animation: 300ms;

}

header img {
width: 150px;
}

ul{
    list-style: none;
    font-style: italic;
}

ul a {
    text-decoration: none;
    font-weight: 700;
}

body {
    background-image: url(/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container {
    text-align: center;

}

.container .name h1 {
    font-size: 60px;

}

.container .name h5 {
    font-size: 25px;

}

#about p {
    max-width: 600px;
    margin: 0 auto;

}

#arrow {
    font-size: 25px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;

}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transform: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;

}

.active {
    display: block !important;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;

}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;

}

.form button {
    width: 15%;
    padding: 5px 10px;
    background:linear-gradient(to right, #c09717 50%, #9c551b 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin: -5px;
    margin-top: 20px;
    
    
}

.form button:hover {
    background-position: left bottom;

}